.label{
    -fx-font-family: "Franklin Gothic Book";
    -fx-text-fill: "White";
}
.list-view{
    -fx-background-color: "Lightblue";
    -fx-text-fill: "Black";
}
.list-cell{
    -fx-background-color: "Lightblue";
}
.list-cell:selected{
    -fx-border-color: "Black";
}
.table-view{
    -fx-background-color: "Lightblue";
    -fx-text-fill: "Black";
}
.table-column{
    -fx-background-color: #8fa0a6;
    -fx-text-fill: "Black";
}
.table-cell{
    -fx-background-color: "Lightblue";
    -fx-text-fill: "Black";

}
.table-row-cell:selected{
    -fx-border-color: "Black";

}
.button{
    -fx-background-color: #8fa0a6;
    -fx-text-fill: "White";
    -fx-font-family: "Franklin Gothic Book";
}
.text-field{
    -fx-background-color: #8fa0a6;
    -fx-text-fill: "White";
}
.radio-button{
    -fx-text-fill: "White";
}
